.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 852px;
  padding-top: 73px;
  padding-right: 155px;
  padding-left: 29px;
}

.main__toolbar {
  margin-bottom: 92px;
}
