// screens
$screen-desktop: 1440px;

// text colors
$text-color--dark: rgba(0, 0, 0, 0.541327);
$text-color--darken: rgba(0, 0, 0, 0.87);

// background colors
$bg-color--light: #e5e5e5;
$bg-color--lighten: #ffffff;

$bg-color--predefined1: #f74141;
$bg-color--predefined2: #41b6f7;

// shadows
$block-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

// fonts
$font-family--1: "Roboto", "Arial", sans-serif;



