html,
body {
  box-sizing: border-box;
  width: 100vw;
  max-width: $screen-desktop;
  min-height: 900px;
  margin: 0 auto;
  
  background-color: $bg-color--light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
